{% extends 'base.html' %}


{% block content %}



<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">Recruiter</h4>
         <p class="w3-center"><img src="C:\Users\USER\Desktop\jackson\CSEL1T1.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Designer, UI</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
        </div>
      </div>
      <br>
      
      <!-- Accordion -->
      
     
      
    
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">Social Media template by w3.css</h6>
              
              <p contenteditable="true" class="w3-border w3-padding">Status: Feeling Blue</p>
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                  <input type="file" name="image">
                  <input type="file" name="videos">

                  <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button> 
                </form>
                


				<br>
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="C:\Users\USER\Desktop\jackson\CSEL4T2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">1 min</span>
        <h4>John Doe</h4><br>
        <hr class="w3-clear">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half">
              <img src="C:\Users\USER\Desktop\jackson\CSEL4T2.png" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
              <img src="C:\Users\USER\Desktop\jackson\CSEL4T2.png" style="width:100%" alt="Nature" class="w3-margin-bottom">
          </div>
        </div>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"></i>*</button>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"></i>**</button>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"></i>***</button>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"></i>****</button>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"></i>*****</button> 

        
      </div>
      
    
      
    <!-- End Middle Column -->
    </div>



{% endblock %}
