{% extends 'base.html' %}
{% block content %}
		<div class="login-page">
				<div class="form">
						<center> 
								<div class="">
									<div id="info1"> Select Type</div><br>
									  <a href="{% url 'recruterprofile' %}">
										  <button type="submit" class="btn btn-primary">Recruiter</button>
									  </a>
									  <br><br>
									  <a href="{% url 'cv' %}">
										<button type="submit" class="btn btn-primary">Candidate</button>
									</a>
								 </div>
						</center>
				</div>
			  </div>

{% endblock %}